<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragments/header"></div>
<form action="/addUser" method="POST" name="user">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name"/>
        <div class="alert alert-danger" th:if="${emptyName}">
            <strong th:text="${emptyName}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username"/>
        <div class="alert alert-danger" th:if="${emptyUsername}">
            <strong th:text="${emptyUsername}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" name="password"/>
        <div class="alert alert-danger" th:if="${emptyPassword}">
            <strong th:text="${emptyPassword}"></strong>
        </div>
        <div class="alert alert-danger" th:if="${passwordLength}">
            <strong th:text="${passwordLength}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="roles">Roles:</label>
        <select class="form-control"  multiple id="roles" name="roles">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>
        <div class="alert alert-danger" th:if="${emptyRoles}">
            <strong th:text="${emptyRoles}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <select class="form-control"  id="city" name="city">
            <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
        </select>
        <div class="alert alert-danger" th:if="${emptyCity}">
            <strong th:text="${emptyCity}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" class="form-control" id="street" name="street"/>
        <div class="alert alert-danger" th:if="${emptyStreet}">
            <strong th:text="${emptyStreet}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state"/>
        <div class="alert alert-danger" th:if="${emptyState}">
            <strong th:text="${emptyState}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="zip">Zip:</label>
        <input type="text" class="form-control" id="zip" name="zip"/>
        <div class="alert alert-danger" th:if="${emptyZip}">
            <strong th:text="${emptyZip}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="phone1">Phone#1:</label>
        <input type="text" class="form-control" id="phone1" name="phones"/>
        <div class="alert alert-danger" th:if="${emptyPhones}">
            <strong th:text="${emptyPhones}"></strong>
        </div>
    </div>
    <div class="form-group">
        <label for="phone2">Phone#2:</label>
        <input type="text" class="form-control" id="phone2" name="phones"/>
    </div>
    <div class="alert alert-danger" th:if="${phoneNumber}">
        <strong th:text="${phoneNumber}"></strong>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
</body>
</html>