<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<table class="table table-inverse">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody th:each="brand : ${brands}">
        <tr>
            <th></th>
            <td>
                <p th:text="${brand.name}"></p>
            </td>
            <td>
                <form th:action="'/brands/'+${brand.id}+'/delete'" method="POST">
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>