<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div th:replace="fragments/header"></div>
    Failed URL: <p th:if="${url}" th:text="${url}"></p>
    Exception:  <p th:if="exception" th:text="${exception}"></p>

    <div th:if="${exception.stackTrace}" th:each="ste : ${exception.stackTrace}">
        <p th:text="${ste}"></p>
    </div>
</body>
</html>