<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<table class="table table-inverse">
    <thead>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
        <th>LastLoginTime</th>
        <th>City</th>
        <th>Street</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phones</th>
        <th></th>
    </tr>
    </thead>
    <tbody th:each="user : ${users}">
    <tr>
        <td>
            <p th:text="${user.name}"></p>
        </td>
        <td>
            <p th:text="${user.username}"></p>
        </td>
        <td>
            <p th:text="${user.password}"></p>
        </td>
        <td>
            <div th:each="role : ${user.roles}">
                <p th:text="${role}"></p>
            </div>
        </td>
        <td>
            <p th:text="${user.lastLoginTime}"></p>
        </td>
        <td>
            <p th:text="${user.city}"></p>
        </td>
        <td>
            <p th:text="${user.street}"></p>
        </td>
        <td>
            <p th:text="${user.state}"></p>
        </td>
        <td>
            <p th:text="${user.zip}"></p>
        </td>
        <td>
            <div th:each="phone : ${user.phones}">
                <p th:text="${phone}"></p>
            </div>
        </td>
        <td>
            <form th:action="'/users/'+${user.id}+'/delete'" method="POST">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>